*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;    
}
body{
    font-size: 1.6rem;     
    background-color: #E3E6E6;
}
.container{
    max-width: 1550px;
    margin: auto;
    padding: 0 15px;
}
img{
    width: 100%;
}
@media (max-width:576px){
    html{
        font-size: 50%;
    }
}