.banner{
    margin-bottom: -15rem;
}

.banner-mask{
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;
}
@media(max-width:768px){
    .banner{
        margin-bottom: -10rem;
    }
}