.product{    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
    z-index: 1; 
    padding: 2rem;    
    border: 5px solid #E3E6E6;    
    max-height: 400px;
    min-width: 100px;
    background-color: white;
}

.product img{
    max-height: 200px;
    object-fit: contain;
}
.product button{
    margin-top: 1.5rem;    
    background: #f0c14b;
    border: 1px solid ;
    border-color: #a88734 #9c7e31 #846a29;
}
.product__price{
    margin-top: .5rem;
}
.product__info{
    height: 10rem;
    margin-bottom: 1.5rem;
}